body {
  font-family: "Lato", sans-serif;
}
.card-body {
  text-align: center;
}
.card-body > img {
  width: 100%;
  height: 250px;
}
.card-footer > p {
  color: black;
}
a:hover {
  text-decoration: none;
}
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.card:hover {
  animation: bounce 2s;
}
.rate {
  color: green;
}
.descrptn {
  color: gray;
  font-size: 20px;
}
.name {
  color: black;
  font-size: 25px;
  font-weight: 700;
}
.logo img {
  height: 100px;
  padding-top: 10px;
}
#navbarNav {
  margin-left: 100px;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.61);
  font-size: 18px;
  padding: 5px 25px 5px 25px;
}
.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: solid 2px #3e9920;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.61);
  font-size: 18px;
  padding: 5px 25px 5px 25px;
  text-transform: uppercase;
}
h3{
  text-align:center;
  margin-bottom:20px;
}
